<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Творческая мастерская. О нас.</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="libs/jquery-3.2.1.js"></script>
    <script src="libs/bootstrap/js/bootstrap.js"></script>
</head>
<body>

<%- include('header', {activeNavElement: "about", headerLogoSrc: headerLogoSrc}); %>

<main class="main-site grey-bg">

    <div class="wrapper">

        <div class="row">
            <div class="item col-8 mid-col-12 mid-text">
                <h1>О нас.</h1>
            </div>
        </div>
    </div>

</main>

<%- include('footer', {footerLogoSrc: headerLogoSrc}); %>

</body>
