.subscribe-form-wrapper {
  width: 50%;
  margin: 0 auto 0 auto;
  padding: 50px 0;
  text-align: center;
}

.subscribe-form-wrapper form {
  width: 80%;
  margin: 0 auto;
  border: none;
}

.subscribe-form-wrapper input[type="text"], input[type="date"] {
  width: 93%;
  background: #fff;
  border: none;
  outline: none;
  margin-bottom: 10px;
  font-size: 14px;
  padding: 15px 15px 15px;
  text-align: left;
  /*border-bottom: 1px solid #777;*/
}

.subscribe-form-wrapper input[type="text"]:nth-of-type(1) {
  margin-top: 50px;
}

.subscribe-form-wrapper input[type="submit"] {
  /*font-weight: bold;*/
  width: 48%;
  background: #181a1b;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 12px;
  color: #fff;
  /*text-transform: uppercase;*/
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  -ms-transition: .5s ease-in;
  cursor: pointer;
}

h2 {
  color: #000;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
  opacity: 0.7;
}

/* hide our custom/fake placeholder text when in focus to show the default
 * 'mm/dd/yyyy' value and when valid to show the users' date of birth value.
 */
input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }

.success-message {
  margin-top: 20px;
  font-size: 20px;
}